// fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$font-color: #2d2d2d;
$link-hover-color: #1CADFF;
$white: #ffffff;
$bg-grey: #f7f7f7;
$light-grey: #e4e4e7;
$medium-grey: #bababa;
$danger: #ef4444;
$danger-highlight: #FFE6E6;
$success: #22c55e;
$success-highlight: #D1FFE2;
$warning: #fbbf24;
$warning-highlight: #FFF4D1;